From <%= stay.begin_date %> to <%= stay.end_date %><br>
<strong>Contact:</strong> <%= stay.user.email %><br><br>
<% if ["accepted", "declined"].include? stay.status %>
  <i>You <%= stay.status %> this request on <%= stay.response_at.to_date %>.</i><br>
<% end %>

<% if !stay.status %>

  <div class="container">
    <div class="row">
      <div class="col-xs-3">
        <%= render "update_form", new_status: "accepted", stay: stay %>
      </div>

      <div class="col-xs-6">
        <%= render "update_form", new_status: "declined", stay: stay %>
      </div>
    </div>
  </div>

<% elsif stay.status == "cancelled" %>

  <i>This booking was cancelled by the traveller on <%= stay.response_at.to_date %></i><br>

<% end %>
<br><br>
