From <%= stay.begin_date %> to <%= stay.end_date %><br><br>
<% if ["accepted", "declined"].include? stay.status %>
  <i>You <%= stay.status %> this request on <%= stay.response_at.to_date %>.</i><br>
<% end %>

<% if stay.status != "cancelled" %>

  <div class="container">
    <div class="row">
      <div class="col-xs-3">

        <%= simple_form_for stay do |f| %>
          <%= f.hidden_field :status, value: "accepted" %>
          <%= f.hidden_field :stay, value: stay %>
          <%= f.hidden_field :response_at, value: Time.now %>
          <%= f.submit 'Accept booking', class: 'btn btn-primary'  %>
        <% end %>
      </div>

      <div class="col-xs-6">
          <%= simple_form_for stay do |f| %>
            <%= f.hidden_field :status, value: "declined" %>
            <%= f.hidden_field :stay, value: stay %>
            <%= f.hidden_field :response_at, value: Time.now %>
            <%= f.submit 'Decline booking', class: 'btn btn-danger'  %>
          <% end %>
      </div>
    </div>
  </div>

<% else %>

  <i>This booking was cancelled by the traveller on <%= stay.response_at.to_date %></i><br>

<% end %>
<br><br>
