<h3>Site: <strong><%= stay.site.title %></strong></h3>
<strong>Contact:</strong> <%= stay.site.user.email %>
Dates: <%= stay.begin_date %> to <%= stay.end_date %><br>
Status: <% if stay.status %><%= stay.status %><br><br><% else %> <b>pending</b><% end %>

<% if stay.status != "cancelled" %>
    <%= render "update_form", new_status: "cancelled", stay: stay %>
<% else %>
  <i>You cancelled this booking on <%= stay.response_at.to_date %></i>
<% end %>

<br />
<%= link_to "Add review", new_stay_review_path(stay), class: "btn btn-warning" %>


<br><br><br>