<div style="padding: 60px" >
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Your bookings</h1>
        <% if current_user.stays.first %>
          <% current_user.stays.each do |stay| %>
            <%= render "traveller_request.html.erb", stay: stay %>
          <% end %>
        <% else %>
        <i>You do not have any bookings, BOOK NOW PLEASE WE ARE STARVING</i>
        <% end %>

        <% if current_user.sites.count == 0 %>
          <i>You are not managing any site right now.</i>
        <% elsif current_user.sites.count == 1 %>
          <h1>Manage your requests</h1>
          <i>You are managing one site.</i>
        <% elsif current_user.sites.count > 1 %>
          <h1>Manage your requests</h1>
          <i>You are managing <%= current_user.sites.count %> sites.</i>
        <% end %>

        <% if current_user.sites.first%>
          <% has_booking = false %>
          <% current_user.sites.each do |site| %>
            <% if site.stays.first %>
             <% has_booking = true %>
            <% end %>
          <% end %>

          <% if has_booking %>
            <% current_user.sites.each do |site| %>
              <% if site.stays.first %>
                <h3>Requests for <strong><%= site.title %></strong></h3>
              <% end %>
              <% site.stays.each do |stay| %>
                <%= render "owner_request.html.erb", stay: stay %>
              <% end %>
            <% end %>
          <% else %>
            You do not have any bookings, <i>please do something man we're hungry</i>
          <% end %>
        <% end %>

<div id="calendar">


<%= calendar_for(@stays, :year => @date.year, :month => @date.month) do |t| %>
  <%= t.head('mon', 'tue', 'wed', 'thu', 'fri', 'sat', 'sun') %>
  <%= t.day(:day_method => :begin_date) do |day, stays| %>
    <%= day.day %>

    <% stays.each do |stay| %>
    <ul>
      <li><%= h(stay.site.title) %> </li>
      <li><%= h(stay.status) %></li>
      <li><%= h(stay.user.name) %></li>
      <li><%= h(stay.end_date) %></li>
        <%= render "update_form", new_status: "accepted", stay: stay %>
        <%= render "update_form", new_status: "declined", stay: stay %>

    </ul>
    <% end %>

  <% end %>
<% end %>

</div>


      </div>
    </div>
  </div>
</div>