<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Your bookings</h1>

      <% current_user.stays.each do |stay| %>

        Site: <strong><%= stay.site.title %><br></strong>
        From <%= stay.begin_date %> to <%= stay.end_date %><br>
        Status: <%= stay.status %> (updated on <%= stay.response_at %>)<br><br>

        <%= simple_form_for stay do |f| %>
          <%= f.hidden_field :status, value: "cancelled" %>
          <%= f.hidden_field :stay_id, value: stay.id %>
          <%= f.hidden_field :response_at, value: Time.now %>
          <%= f.button :submit, 'Cancel booking'  %>
        <% end %>

        <br><br><br>

      <% end %>

      <h1>Manage your requests</h1>

      <% current_user.sites.each do |site| %>
        <% site.stays.each do |stay| %>

        From <%= stay.begin_date %> to <%= stay.end_date %><br>
        Status: <%= stay.status %> (updated on:) <%= stay.response_at %>

        <div class="container">
          <div class="row">
            <div class="col-xs-3">

              <%= simple_form_for stay do |f| %>
                <%= f.hidden_field :status, value: "accepted" %>
                <%= f.hidden_field :stay_id, value: stay.id %>
                <%= f.hidden_field :response_at, value: Time.now %>
                <%= f.button :submit, 'Accept booking'  %>
              <% end %>
            </div>

            <div class="col-xs-3">
                <%= simple_form_for stay do |f| %>
                  <%= f.hidden_field :status, value: "declined" %>
                  <%= f.hidden_field :stay_id, value: stay.id %>
                  <%= f.hidden_field :response_at, value: Time.now %>
                  <%= f.button :submit, 'Decline booking'  %>
                <% end %>
            </div>
          </div>
        </div>

        <% end %>
      <% end %>
    </div>
  </div>
</div>
