<h1>users#edit</h1>

<%= simple_form_for @user do |f| %>
  <%= f.input :first_name %>
  <%= f.input :last_name %>
  <%= f.input :description %>
  <%= f.input :phone %>
  <%= f.date :birthday %>
  <%= f.button :submit %>
<% end %>
