<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <h1>users#edit</h1>

    <%= simple_form_for(@user, html: { multipart: true }) do |f| %>
      <%= f.input :first_name %>
      <%= f.input :last_name %>
      <%= f.input :description %>
      <%= f.input :phone %>
      <p>
      <%= f.file_field :picture %>
    </p>
      <%= f.button :submit %>
    <% end %>
  </div>
</div>
