<div style="">
  <div class="container">
  <div class="row">
    <div class="col-md-12">

        <%= image_tag "#{site.picture_url}", class: "img-responsive" %>
        <h1><%= site.title %></h1>

        <div class="container">
          <div class="row">
            <div class="col-md-3 bg-success">
              <i class="fa fa-money"></i> <%=  site.daily_price.round %>
            </div>
            <div class="col-md-3 bg-success">
              <i class="fa fa-tag"></i> <%=  site.category %>
            </div>
            <div class="col-md-3 bg-success">
              <i class="fa fa-location-arrow"></i> <%=  site.city %>
            </div>
            <div class="col-md-3 bg-success">
              <%= link_to "more on internet",  site.url %>
            </div>
          </div>
        </div>

        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <%=  site.description %>
            </div>
        </div>
        </div>

        <div class="container">
          <div class="row">
            <div class="col-md-6">
                <%= image_tag("https://maps.googleapis.com/maps/api/staticmap?center=#{site.lat},#{site.lng}&zoom=12&size=1200x400&maptype=hybrid", class: "img-responsive") %>
            </div>
            <div class="col-md-6">
                <%= image_tag("https://maps.googleapis.com/maps/api/staticmap?center=#{site.lat},#{site.lng}&zoom=19&size=1200x400&maptype=satellite" , class: "img-responsive") %>
            </div>
          </div>
        </div>
        <h3> <%= link_to "Back to the sites",  search_path %></h3>
      </div>
    </div>
  </div>
</div>

