<div class="modal fade" id="BookingModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content" style="height: 300px">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
        <h4 class="modal-title" id="myModalLabel">Your life will be changed forever - BOOK NOW!</h4>
      </div>
      <div class="modal-body text-center" >

        <div class="container" style='width: 100%'>
          <div class="row">
            <div class="col-md-12">
                <h2>BOOK NOW PLZ WE NEED TO PAY THE RENT</h2>
                <%= simple_form_for(stay, html: { class: 'form-inline'}) do |f| %>
                <%= f.hidden_field :site_id, value: site.id %>
                <div class="input-daterange input-group" id="datepicker" style="z-index: 1000000; padding: 50px;">
                  <span class="input-group-addon">from</span>
                  <input data-provide="datepicker" type="text" class="input-sm form-control" name="begin_date" placeholder="from" id="begin_date" />
                  <span class="input-group-addon">to</span>
                  <input data-provide="datepicker" type="text" class="input-sm form-control" name="end_date" id="end_date" placeholder="to"/>
                </div>
                <%= f.submit 'Request your cancer', class: 'btn btn-danger' %>
                <% end %>
            </div>
            <div id="msg" style="display: none;"><i>Not available, go fuck yourself</i></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<% content_for(:bookingmodaljs) do %>

  <%= javascript_tag do %>

    <% days = [] %>

    <% site.taken_flat_days.each do |day| %>
        <% days << day.occupied_date %>
    <% end %>

    $('.input-daterange').datepicker({
      format: "dd/mm/yyyy",
      startDate: 0,
      todayBtn: true,
      todayHighlight: true,
      autoclose: true
    });

    $(document).click(function(){
      var beginDate = $('#begin_date').val();
      var date_array = beginDate.split("/");
      beginDate = new Date(date_array[2].concat("-").concat(date_array[1]).concat("-").concat(date_array[0]));
      var endDate = $('#end_date').val();
      date_array = endDate.split("/");
      endDate = new Date(date_array[2].concat("-").concat(date_array[1]).concat("-").concat(date_array[0]));
      var available = true;
      for (var d = beginDate; d < endDate; d.setDate(d.getDate() + 1)) {
          console.log('checking availability for :');
          console.log(d);
          console.log('   ');
        <% days.each do |day| %>
          console.log(new Date ('<%= day %>'));
          if(Date.parse(d) === Date.parse(new Date ('<%= day %>'))){
            available = false;
            console.log('gogogo');
        }
        <% end %>
        console.log(available);
      }
      if(available){
      $('.btn').removeClass('disabled');
      $('#msg').hide();
      }
      if(!available){
      $('.btn').addClass('disabled');
      $('#msg').show();
      }
    });

  <% end %>
<% end %>

