<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <div class="user-form-style">

    <%= simple_form_for(@site, url: sites_path, html: { method: :post }) do |f| %>
    <%= f.error_notification %>

    <fieldset>

      <legend>Description</legend>
        <div class="form-inputs">
          <%= f.input :title, required: true, autofocus: true, label: 'Your place in a few words' %>
        </div>
        <div class="form-inputs">
          <%= f.input :description, required: true, label: 'Give us more details'%>
        </div>
        <div class="form-inputs">
          <%= f.input :daily_price, required: true, label: "What's your daily price ?"%>
        </div>

        <%= f.label :category, label: "What kind of place is it ?"%>
        <select name="category" class="form-control" required>
            <option >Kind of place</option>
          <% Site::CATEGORIES.each do |category| %>
            <option value="<%= category %>"/><%= category %></option>
          <% end %>
        </select>
        <br />
    </fieldset>

    <fieldset>
      <legend>Address</legend>
        <%= f.input :street, required: true %>
        <%= f.input :city, required: true %>
        <%= f.input :zip_code, required: true  %>
        <%= f.input :country, input_html: { class: 'chosen-select' }%>
    </fieldset>

    <fieldset>
      <legend>Addition informations</legend>
        <div class="form-inputs">
          <%= f.input :url, label: 'Your place has a website ?'%>
        </div>

        <div class="form-inputs">
          <%= f.input :picture_url, label: 'A picture online ?' %>
        </div>
    </fieldset>

    <div class="form-actions">
      <%= f.button :submit, "Submit" %>
    </div>
    <% end %>
  </div>
</div>
</div>
