<%= simple_form_for(@site, url: sites_path, html: { method: :post }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title, required: true, autofocus: true %>
  </div>

  <div class="form-inputs">
    <%= f.input :daily_price, required: true %>
  </div>

  <div class="form-inputs">
    <%= f.input :description, required: true %>
  </div>

  <div class="form-inputs">
    <%= f.input :category, required: true %>
  </div>

  <div class="form-inputs">
    <%= f.input :lat, required: true %>
  </div>

  <div class="form-inputs">
    <%= f.input :lng, required: true %>
  </div>

  <div class="form-inputs">
    <%= f.input :available, required: true %>
  </div>

  <div class="form-inputs">
    <%= f.input :street, required: true %>
  </div>

  <div class="form-inputs">
    <%= f.input :city, required: true %>
  </div>

  <div class="form-inputs">
    <%= f.input :zip_code, required: true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Submit" %>
  </div>
<% end %>