<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <div class="user-form-style">
    <br />
<%= simple_form_for(@site, url: sites_path, html: { method: :post }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title, required: true, autofocus: true %>
  </div>

  <div class="form-inputs">
    <%= f.input :daily_price, required: true %>
  </div>

  <div class="form-inputs">
    <%= f.input :description, required: true %>
  </div>


    <%= f.label :category %>

  <select name="category" class="form-control" required>
      <option >Kind of place</option>
      <% @categories.each do |category| %>
        <option value="<%= category %>"/><%= category %></option>
      <% end %>
  </select>
  <br>

  <div class="form-inputs">
    <%= f.input :url, required: true %>
  </div>

  <div class="form-inputs">
    <%= f.input :picture_url, required: true %>
  </div>

  <div class="form-inputs">
    <%= f.input :lat, required: true %>
  </div>

  <div class="form-inputs">
    <%= f.input :lng, required: true %>
  </div>

  <div class="form-inputs">
    <%= f.input :city, required: true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Submit" %>
  </div>
<% end %>
</div>
<br />

</div>
</div>