      <div class="top">
        <div class="fond">
          <div class="banner">
            <h1>GHOST PLACES <br>
             FOR HUMANS ADVENTURES </h1><br>
              <p>Rent spectacular places across the world</p>
            <div class ="soon">
              <div class="cta">

                <form class="form-inline" role="form" action="/">
                  <input type="text" class="form-control search" placeholder="keyword or city" >

                  <select name="category" class="form-control">
                      <option >Kind of place</option>

                      <% @categories.each do |category| %>
                        <option value="<%= category %>"/><%= category %></option>
                      <% end %>
                  </select>

                  <b>€ <%= @min_price %></b> <input id="ex2" class="span2" name="range_price" value="" data-slider-min="20" data-slider-max="<%= @max_price %>" data-slider-step="5" data-slider-value="[40,50]"/> <b>€ <%= @max_price %> </b>

                  <button id="search" type="submit" class="btn btn-default">Search</button>
                </form>


              </div>
            </div>
          </div>
        </div>
      </div>



    <div style="mini-sites">
        <div class="container">
          <div class="row">
          <% @results.each do |site| %>
            <div class="col-md-4">
              <%= render "mini_show", :site => site %>
            </div>
          <% end %>
        </div>
      </div>
    </div>





    </div>
  </div>