<%= render "bigshow", site: @site %>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <%= simple_form_for @stay do |f| %>
        <%= f.hidden_field :site_id, value: @site.id %>
        <%= f.input :begin_date %>
        <%= f.input :end_date %>
        <%= f.button :submit, 'Request!'  %>
      <% end %>
    </div>
  </div>
</div>
