<!DOCTYPE html>
<html>
<head>
  <title>Indus</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <%= stylesheet_link_tag 'application', "http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,900' rel='stylesheet" %>


  <%= csrf_meta_tags %>
</head>
<body>

  <%= render "shared/navbar" %>

  <div class="container messages">
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <%= render 'layouts/flash' %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <%= render 'layouts/sessions' %>
      </div>
    </div>
  </div>

    <%= yield %>

  <%= render "shared/footer" %>



  <%= javascript_include_tag "https://maps.google.com/maps/api/js?sensor=false" %>
  <%= javascript_include_tag "https://google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js" %>

  <%= javascript_include_tag "application" %>

  <%= yield(:js) %>

</body>
</html>
