<!DOCTYPE html>
<html>
<head>
  <title>Indus</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <%= stylesheet_link_tag 'application', "http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,900' rel='stylesheet" %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render "shared/navbar" %>

  <div class="container messages">
    <div class="row">
      <div class="col-md-12">
        <%= render 'layouts/flash' %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <%= render 'layouts/sessions' %>
      </div>
    </div>
  </div>

    <%= yield %>

  <%= render "shared/footer" %>

</body>
</html>
